* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family:
    'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10rem;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 87.5rem;
  height: 5.938rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

.main-container {
  background-color: #fafafa;
  height: 650px;
  overflow: auto;
}

h2 {
  color: #0290ff;
}

ul {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}

li {
  list-style: none;
}

.link {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.icon {
  margin: 0 1rem;
  font-size: 2.063rem;
  cursor: pointer;
  padding: 0.2rem;
  border: 1px solid grey;
  border-radius: 50%;
}

.flexInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: #fff;
}

.bookInfo {
  margin: 2rem 20rem 2rem 1rem;
  border: 1px solid white;
}

p {
  margin: 0.25rem 0;
}

.category {
  font-size: 0.8rem;
  color: grey;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.author {
  font-size: 0.8rem;
  color: #4386bf;
  font-weight: lighter;
}

.utility {
  display: flex;
  align-items: center;
}

.comments,
.remove,
.edit {
  padding: 0 1.063rem;
  cursor: pointer;
  margin: 0;
  border-right: 1px solid grey;
  color: #4386bf;
}

.remove {
  background-color: transparent;
  font-size: 1rem;
}

.remove:hover,
.comments:hover,
.edit:hover {
  color: #0290ff;
}

.progressInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.31rem;
  border-right: 2px solid lightgrey;
  padding-right: 8rem;
}

.progress-bar {
  height: 4rem;
  width: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}

.textPercentage {
  font-size: 1.3rem;
}

.chapterInfo {
  padding: 1.688rem;
  margin: 2rem;
}

.currentChap {
  color: grey;
  font-size: 0.8rem;
}

.update {
  background-color: #0290ff;
  padding: 0.5rem;
  border-radius: 3px;
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}

.update:hover {
  background-color: #4386bf;
}

.addBookContainer {
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  width: 100%;
}

.formContainer {
  border-top: 1px solid lightgrey;
  margin: 0 20rem;
  text-align: center;
  padding: 1rem;
  background-color: #fafafa;
  height: 180px;
}

.formContainer h2 {
  text-align: left;
  color: gray;
}

.form-container {
  display: flex;
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
}

.formContainer input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}

.formContainer select {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
}

.formContainer button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  color: #fff;
  background-color: #0290ff;
  cursor: pointer;
}

.formContainer button:hover {
  background-color: #4386bf;
}
